{
    "driver_config": {"host_name": "http://localhost:52201", "manufacturer": "Cree", "api_key":  "3"},
    "registry_config":"config://cree_occupancy_registers.json",
    "interval": 10,
    "timezone": "US/Pacific",
    "heart_beat_point": "Heartbeat",
    "driver_type": "ofc_cree_occupancy_driver",
    "publish_breadth_first_all": false,
    "publish_depth_first": false,
    "publish_breadth_first": false,
    "campus": "LBNL",
    "building": "71T",
    "unit": "Cree occupancy A"
}
