{
  "area": "LBNL/71T/B/",
  "devices": [
    {
      "type": "light level",
      "endpoint": "devices/LBNL/71T/B/cree_light/all",
      "max_points_kept": 100
    },
    {
      "type": "occupancy",
      "endpoint": "devices/LBNL/71T/B/cree_occupancy/all",
      "max_points_kept": 100
    },
    {
      "type": "facade state",
      "endpoint": "devices/LBNL/71T/B/enlighted_facade/all",
      "max_points_kept": 100
    },
    {
      "type": "glare",
      "endpoint": "devices/LBNL/71T/B/enlighted_glare/all",
      "max_points_kept": 100
    },
    {
      "type": "workplane illuminance",
      "endpoint": "devices/LBNL/71T/B/hunter_douglas_wpi/all",
      "max_points_kept": 100
    }
    {
      "type": "solar radiation",
      "endpoint": "devices/LBNL/71T/solar_radiation_roof",
      "max_points_kept": 100
    },
  ],
  "control frequency": 1.0,
}
