{
  "Area": "LBNL/71T/A/",
  "Control Options": {
    "Algorithms": [
      "OFC General Use"
    ],
    "Control Frequency": 30.0
  },
  "Devices": [
    {
      "Type": "Light",
      "VOLTTRON Endpoint": "LBNL/71T/A/cree_light/light level"
    },
    {
      "Type": "Occupancy",
      "VOLTTRON Endpoint": "LBNL/71T/A/cree_occupancy/occupancy"
    },
    {
      "Type": "Façade State",
      "VOLTTRON Endpoint": "LBNL/71T/A/enlighted_facade/facade state"
    },
    {
      "Type": "Glare",
      "VOLTTRON Endpoint": "LBNL/71T/A/enlighted_glare/glare"
    },
    {
      "Type": "Illuminance",
      "VOLTTRON Endpoint": "LBNL/71T/A/hunter_douglas_illuminance/illuminance"
    },
    {
      "Type": "Solar Radiation",
      "VOLTTRON Endpoint": "LBNL/71T/solar_radiation_roof/solar radiation"
    }
  ]
}
