{
    "driver_config": {"host_name": "http://localhost:52300", "api_key":  "12"},
    "registry_config":"config://cree_light_registers.json",
    "interval": 10,
    "timezone": "US/Pacific",
    "heart_beat_point": "Heartbeat",
    "driver_type": "ofc_cree_light_driver",
    "publish_breadth_first_all": false,
    "publish_depth_first": false,
    "publish_breadth_first": false
}
