[
    {
        "Inputs": [{"Type": "Glare", "Threshold": 0.0}],
        "Outputs": [{"Type": "Light", "Setting": 0.6}, {"Type": "Façade State", "Setting": 1}]
    },
    {
        "Inputs": [{"Type": "Glare", "Threshold": 0.2}],
        "Outputs": [{"Type": "Light", "Setting": 0.8}, {"Type": "Façade State", "Setting": 2}]
    }
]
